<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         cacheResult ="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory suffix=".php">./test</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="false">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <html outputDirectory=".coverage-html" lowUpperBound="50" highLowerBound="90"/>
            <cobertura outputFile="cobertura.xml"/>
        </report>
    </coverage>
</phpunit>
