name: Test Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - 'feature/**'

jobs:
  test-docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - docker-name: '25'
            docker-version: 'v25.0.5'
          - docker-name: '26'
            docker-version: 'v26.1.4'
          - docker-name: '27'
            docker-version: 'v27.4.1'

    name: test-docker (${{ matrix.docker-name }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Docker
        uses: docker/setup-docker-action@v4
        with:
          version: ${{ matrix.docker-version }}

      - name: Check coding standards
        uses: hadolint/hadolint-action@v3.3.0

      - name: Build Docker image
        run: docker build -t "drevops/shellvar:test" .

      - name: Run tests
        run: docker run -v $(pwd):/app drevops/shellvar:test lint tests/phpunit/Fixtures/unwrapped.sh | grep -q "Found 3 variables"
